@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.indicator {
  @apply absolute w-1 h-1 top-12 left-1/2 bg-black rounded-full transform scale-0 -translate-x-[-50%] transition-transform duration-300 ease-[cubic-bezier-(0.76,0,0.24,1)] opacity-0 group-hover:scale-100 group-hover:opacity-100;
}

.height150 {
  height: 150%;
}

.burgerActive {
  @apply after:transition-transform after:rotate-45 after:-top-[1px] before:transition-transform before:-rotate-45 before:-top-0;
}

.burger {
  @apply w-full relative z-10 after:content-['']  after:block after:h-[1px] after:w-1/4 after:m-auto after:bg-white after:relative after:transition-transform after:duration-300
  before:content-['']  before:block before:h-[1px] before:w-1/4 before:m-auto before:bg-white before:relative before:transition-transform before:duration-300
  after:-top-1
  before:top-1;
}

.radius50{
  border-radius: 50%;
}