@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.indicator {
  @apply absolute w-1 h-1 top-12 left-1/2 bg-black rounded-full transform scale-0 -translate-x-[-50%] transition-transform duration-300 ease-[cubic-bezier-(0.76,0,0.24,1)] opacity-0 group-hover:scale-100 group-hover:opacity-100;
}

.height150 {
  height: 150%;
}

.radius50 {
  border-radius: 50%;
}


/* .burgerActive {
  @apply after:transition-transform after:rotate-45 after:-top-[1px] before:transition-transform before:-rotate-45 before:-top-0;
}

.burger {
  @apply radius50 w-full relative z-40 
  after:content-["x"] after:block after:h-[1px] after:w-2/5 after:m-auto after:bg-black after:relative after:transition-transform after:duration-300

  before:content-["x"]  before:block before:h-[1px] before:w-2/5 before:m-auto before:bg-black before:relative before:transition-transform before:duration-300;
} */

/* .burger::after {
  top: -5px;
}
.burger::before {
  top: 0px;
}

.burgerActive::after {
  top: -1px;
  transform: rotate(45deg);
}
.burgerActive::before {
  top: 0px;
  transform: rotate(-45deg);
} */

.burger {
  width: 100%;
  position: relative;
  z-index: 3;
}

.burger::after,
.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: black;
  position: absolute;
  transition: transform 0.3s;
}

.top80 {
  top: 80%;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0;
}

.mobileNav {
  @apply flex flex-col text-5xl gap-3 mt-20;
}
.mobileNav a {
  @apply text-white font-light no-underline;
}

.roundedButton {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
}

.roundedButton p {
  position: relative;
  z-index: 999;
  transition: color 0.4s linear;
}

.roundedButton:hover p {
  color: white;
}
